<!doctype html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buscar Filme</title>
</head>
<body>
<h1>Buscar Filme</h1>

<!-- Formulário de busca -->
<form th:action="@{/buscar-filme}" method="post">
    <label for="titulo">Título:</label>
    <input type="text" id="titulo" name="titulo">
    <button type="submit">Buscar</button>
</form>

<!-- Exibição do filme encontrado -->
<div th:if="${filme != null}">

    <!-- Formulário para favoritar -->
    <form th:action="@{/favoritar}" method="post">
        <input type="hidden" name="imdbID" th:value="${filme.imdbID}" />
        <button type="submit">Favoritar</button>
    </form>

    <h2 th:text="${filme.Title}"></h2>
    <p><strong>Ano:</strong> <span th:text="${filme.Year}"></span></p>
    <p><strong>Diretor:</strong> <span th:text="${filme.Director}"></span></p>
    <img th:src="${filme.Poster}" alt="Poster do Filme" width="200"/>
</div>

</body>
</html>
